html{
    scroll-behavior: smooth;
}

body{
  background-color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
   */
}



h1{
  font-size: 45px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
  color: white;
}

h2{
  font-size: 22px;
  line-height: 1.5;
  color: white;
  

}

nav ul{
  list-style-type: none;

}

nav li{
  display: inline;
  padding-right: 20px;
}

nav{
  background-color: #ddd;
  padding: 20px 40px;    
  text-align: left;   
}

header p{
  color: white;
  font-size: 20px;
  padding: 0 30px 20px 50px;
  text-align: left;
}

footer{
    
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}



nav a{
  color: black;
  font-weight: bold;
  
  text-decoration: none;
}
 
/* Requirement 2 code here*/
nav a:hover {
  text-decoration: underline;
  text-decoration-color: gold;
  
}
  


.current{
  border-color: black;
  border-style: solid;

}




header{
  background-position: center; /* Parallax effect */
  color: white;
  height: 750px; /* Parallax effect */
  
  
}



#main{
    position:static;
    color: white;
    height: 700px;
}

#main2{
    height: 100px;
}


#main3{
    height: 700px;
    
}

#bodytext{
  display: block;
    color: gray;
    text-align: center;
    
}

#bodytext2{
  display: block;
    color: gray;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style: double;
   
}

#bodytext3{
  display: block;
    text-align: center;
    
}

.scene{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;


  


    /* display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    flex-flow: column;
    flex-direction: column;
    margin: auto; */

    /* display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column: 1/4;
    grid-row: auto;
    grid-column-gap: 20px;
    margin: auto;
    padding: 15px;
    overflow: scroll; */




}

   
    

/* #cover{

  display: flex;
  justify-content: space-around;

} */

.scene > img{
    display: grid;
    border: none;
    margin: 10px;
    border: lightslategrey;

    max-width: 500px;
    padding-left: 50px;
    padding-right: 50px;

   
    
  }

.scene > p{

  font-family: sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  border-style: dashed;
  


}
  
.scene > h2{

  padding-left: 25px;
  padding-right: 25px;

}




.moreflex > iframe{
  width:480px;
  height:300px;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  
  position: absolute;
  top: -40px;

}

.moreflex{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-flow: column;
}

#para{

  color:  cornsilk;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 50px;
  border-style: dashed;



}


/* .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  min-width: 500px;
  padding-left: 50px;
  padding-right: 50px; */



@media screen and (min-width: 800px){
  
  .scene{

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill);
    grid-gap: 10px;
    margin: auto;
    padding: 15px;
    overflow: hidden;
   
  }



.scene > img{

  margin:10px;
  min-width: 600px;
  
}


.scene > p{
  font-size: 20px;

}
  
  .moreflex > iframe{
    width: 650px;
    height: 450px;

  }

  nav ul{
    
    float: right;
    font-size: larger;
    
  }

}


@media screen and (min-width: 1200px){
  .moreflex {

  /* display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  margin: auto; 
  } */


  }

  .moreflex > iframe{
    width: 730px;
    height: 520px;
  }


  nav ul{
    
    float: right;
    font-size: larger;
    
  }



}